body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

.content {
    display: none;
    width: 100%;
    animation: contentAnime 1.5s ease forwards;
    opacity: 0;
}

@keyframes contentAnime {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

p , label {
    font-size: 1.07rem;
    font-weight: bold;
}


/* header */
.header-content {
    width: 100%;
    margin-top: 30px;
}

.header-nav-box {
    width: 60%;
    margin: 0 auto;
    
}

.header-nav-box ul {
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
}

.header-nav-box li {
    position: relative;
    transition: .5s all;
}

.header-nav-box li:hover {
    cursor: pointer;
    color: rgb(117, 136, 172);
}

.header-nav-box li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -8.5%;
    width: 120%;
    height: 2px;
    border-radius: 100%;
    background: rgb(117, 136, 172);
    transition: .5s all;
    transform: scale(0,1);
    transform-origin: center top;
}

.header-nav-box .now::before,
.header-nav-box li:hover::before {
    transform: scale(1,1);
}

.now {
    color: rgb(117, 136, 172);
}


/* top */
.top-content {
    width: 100%;
}

.top-content-title {
    margin-top: 300px;
    font-size: 2.5rem;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 0;
    opacity: 0;
    animation: top-anime 4s ease forwards;
    display: flex;
}

@keyframes top-anime {
    to {
        width: 100%;
        opacity: 1;
    }
}

.top-content-title h1 {
    margin: 0 60px 0;
}



/* profile  */
.profile-content {
    text-align: center;
}

.profile-name {
    margin: 80px;
}

.profile-text p {
    font-size: 1.2rem;
}


/* skill */
.skill-box {
    width: 60%;
    margin: 55px auto;
}


/* works */
.work-num-box {
    margin: 30px auto 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.work-num {
    width: 50px;
    height: 3px;
    background-color: rgb(150, 150, 150);
    border-radius: 2px;
    margin: 0 5px;
    transition: .5s all;
}
.work-num-show {
    background-color: black;
}

.work-box {
    display: flex;
    height: 75vh;
    justify-content: space-between;
}

.work-box-arrow {
    display: grid;
    place-items: center;
    width: 10%;
}

.work-box-arrow img {
    width: 50px;
}

.left img {
    position: relative;
    animation: leftAnime .8s ease-in alternate infinite;
}

@keyframes leftAnime {
    from {
        left: 0;
    }
    to {
        left: -20px;
    }
}

.right img {
    position: relative;
    animation: rightAnime .8s ease-in alternate infinite;
}

@keyframes rightAnime {
    from {
        right: 0;
    }
    to {
        right: -20px;
    }
}

.work-box-img {
    width: 75%;
    background-image: url(./image/work-img1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 1px 2px 15px 9px #ababab;
    border-radius: 10px;
    transition: .8s all;
    position: relative;
    cursor: pointer;
}

.work-box-img:hover {
    transform: scale(1.02,1.02);
}

.work-box-img::before {
    content: "";
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.363);
    opacity: 0;
    transition: 1s all;
}

.work-box-img:hover::before {
    opacity: 1;
}


.modal-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: #000000c0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 80%;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.modal-bac {
    width: 30px;
    
}

.modal {
    display: flex;
    justify-content: space-between;
}

.work-modal-img {
    width: 55%;
}

.work-modal-text {
    width: 40%;
}

/* contact */
.form-content {
    text-align: center;

}

input,select , textarea {
    border: 1px black solid;
    border-radius: 5px;
}

input , textarea {
    width: 30%;
}

input:nth-of-type(3) {
    width: 100px;
    border: none;
    background-color: #5c5c5cb0;
}


/* レスポンシブ */
@media screen and (max-width: 990px) {
    .work-box {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .work-box {
        width: 100%;
    }
}