body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

.content {
    display: none;
    width: 80%;
    margin: 0 auto;
    animation: contentAnime 1.5s ease forwards;
    opacity: 0;
}

@keyframes contentAnime {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* header */
.header-content {
    width: 100%;
    margin-top: 40px;
}

.header-nav-box {
    width: 60%;
    margin: 0 auto;
    
}

.header-nav-box ul {
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
}

.header-nav-box li {
    position: relative;
}

.header-nav-box li:hover {
    cursor: pointer;
}

.header-nav-box li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -8.5%;
    width: 120%;
    height: 2px;
    border-radius: 100%;
    background: rgb(0, 0, 0);
    transition: .5s all;
    transform: scale(0,1);
    transform-origin: center top;
}

.header-nav-box .now::before,
.header-nav-box li:hover::before {
    transform: scale(1,1);
}


/* top */
.top-content {
    width: 100%;
}

.top-content-title {
    margin-top: 300px;
    font-size: 2.5rem;
    border-bottom: 3px solid #000000;
    width: 0;
    opacity: 0;
    animation: top-anime 4s ease forwards;
    display: flex;
}

@keyframes top-anime {
    to {
        width: 100%;
        opacity: 1;
    }
}

.top-content-title h1 {
    margin: 0 60px 0;
}



/* profile  */
.profile-content {
    text-align: center;
}

.profile-name {
    margin: 80px;
}

.profile-text {
    font-size: 1.2rem;
    font-weight: bold;
}


/* skill */
.skill-box {
    width: 60%;
    margin: 55px auto;
}

.skill-box p {
    font-size: 1.5rem;
}


/* works */
.works-box {
    width: 250px;
    height: 250px;
    background-image: url(./image/test-img.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.modal-content {
    display: none;
}

.works-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(41, 41, 41, 0.781);
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.modal {
    width: 70%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    opacity: 0;
    animation: modalAnime 1s ease-out forwards;
}

@keyframes modalAnime {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal .bac-btn {
    text-align: right;
    margin: 20px 20px 0 0;
}

.modal .bac-btn img {
    width: 30px;
    cursor: pointer;
}

/* flexにする */