body {
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

.content {
    width: 80%;
    margin: 0 auto;
    animation: contentAnime 1.5s ease forwards;
    opacity: 0;
}

@keyframes contentAnime {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* header */
.header-content {
    width: 100%;
    height: 100px;
}

.header-nav-box {
    width: 60%;
    margin: 0 auto;
    
}

.header-nav-box ul {
    display: flex;
    line-height: 120px;
    justify-content: space-around;
    font-size: 1.5rem;
}

.header-nav-box a {
    position: relative;
}

.header-nav-box a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -8.5%;
    width: 120%;
    height: 2px;
    border-radius: 100%;
    background: rgb(78, 78, 78);
    transition: .5s all;
    transform: scale(0,1);
    transform-origin: center top;
}

.header-nav-box .now a::before,
.header-nav-box a:hover::before {
    transform: scale(1,1);
}




/* top */
.top-content-title {
    margin-top: 300px;
    font-size: 1.5rem;
    border-bottom: 3px solid #000;
    width: 0;
    opacity: 0;
    animation: top-anime 4s ease forwards;
    display: flex;
}

@keyframes top-anime {
    to {
        width: 100%;
        opacity: 1;
    }
}

.top-content-title h1 {
    margin: 0 60px 0;
}

#anime-1 {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px black solid;
}

#anime-1-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: aqua;
}

/* profile  */
.profile-content {
    text-align: center;
}

.profile-name {
    margin: 60px;
}

.profile-text {
    font-size: 1.5rem;
}


/* skill */
.skill-box {
    width: 60%;
    margin: 55px auto;
}


/* works */
.works-box {
    width: 250px;
    height: 250px;
    background-image: url(./image/test-img.jpg);
    background-size: cover;
    background-position: center;
}

.works-box:hover {
    cursor: pointer;
}

.modal-content {
    display: none;
}

.works-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(41, 41, 41, 0.781);
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.modal {
    width: 70%;
    height: 500px;
    background-color: aliceblue;
    border-radius: 10px;
    opacity: 0;
    animation: modalAnime 1s ease-out forwards;
}

@keyframes modalAnime {
    from {
        transform: translateY(-500px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}