@media screen and (max-width: 1024px) {
    .header-titel-hidden {
        display: block;
    }

    .header-content {
        display: none;
    }

    .nav-btn-content {
        display: block;
    }

    .profile-content {
        text-align: left;
    }

    .profile-name {
        text-align: center;
    }

    .content h1 {
        font-size: 1.8rem;
    }

    .content p {
        font-size: .9rem;
    }
}

@media screen and (max-width: 390px) {
    .modal-box {
        width: 95%;
    }
}